/* define color variables */
:root {
  --font-color: hsl(0, 0%, 2%);
  --background-color: hsl(0, 0%, 98%);

  --button-foreground: hsl(0, 0%, 98%);

  --primary-color: hsl(207, 48%, 47%);
  --primary-color-light: hsl(207, 48%, 85%);
  --primary-color-subtle: hsl(208, 100%, 97%);

  --secondary-color: hsl(18, 86%, 54%);
  --secondary-color-light: hsl(18, 86%, 75%);

  --neutral-color: hsl(0, 0%, 80%);
  --neutral-color-medium: hsl(0, 0%, 70%);
  --neutral-color-strong: hsl(0, 0%, 30%);
  --neutral-color-light: hsl(0, 0%, 90%);

  --completed-color: hsl(133, 34%, 60%);

  --danger-color: hsl(0, 83%, 82%);
  --danger-color-strong: hsl(0, 83%, 70%);

  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-color-strong: rgba(0, 0, 0, 0.3);

  --semitransparent: hsla(0, 0%, 90%, 0.8);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: hsl(0, 0%, 98%);
    --background-color: hsl(0, 0%, 10%);

    --button-foreground: hsl(0, 0%, 2%);

    --primary-color: hsl(207, 48%, 53%);
    --primary-color-light: hsl(207, 48%, 15%);
    --primary-color-subtle: hsl(208, 100%, 3%);

    --secondary-color: hsl(18, 86%, 46%);
    --secondary-color-light: hsl(18, 86%, 30%);

    --neutral-color: hsl(0, 0%, 20%);
    --neutral-color-medium: hsl(0, 0%, 30%);
    --neutral-color-strong: hsl(0, 0%, 70%);
    --neutral-color-light: hsl(0, 0%, 20%);

    --completed-color: hsl(133, 34%, 40%);

    --danger-color: hsl(0, 83%, 35%);
    --danger-color-strong: hsl(0, 83%, 30%);

    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-color-strong: rgba(0, 0, 0, 0.3);
    --semitransparent: hsla(0, 0%, 10%, 0.2);
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--font-color);

  width: 95%;
  margin: 0 auto;
}

/* button styles */
input[type="submit"],
button {
  color: var(--button-foreground);
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-style: outset;
  border-image: none;
  border-color: var(--neutral-color-medium);
  cursor: pointer;
}

input[type="submit"],
button:disabled {
  background-color: var(--neutral-color-light);
  color: var(--neutral-color-strong);
  cursor: default;
  box-shadow: none;
  border-style: inset;
  border-color: var(--neutral-color);
}

input[type="submit"]:hover:enabled,
button:hover:enabled {
  filter: brightness(0.9);
}

input[type="submit"]:active:enabled,
button:active:enabled {
  filter: brightness(0.8);
  border-style: inset;
}

@media (prefers-color-scheme: dark) {
  input[type="submit"]:hover:enabled,
  button:hover:enabled {
    filter: brightness(1.2);
  }

  input[type="submit"]:active:enabled,
  button:active:enabled {
    filter: brightness(1.5);
    border-style: inset;
  }
}

button.subtle {
  background-color: transparent;
  color: var(--neutral-color-strong);
  border: none;
  box-shadow: none;
}

button.subtle:hover {
  background-color: hsla(0, 0%, 60%, 0.2);
}

button.subtle:active {
  background-color: hsla(0, 0%, 60%, 0.4);
}
