.scoreboard {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 10px 0;
    }

    li.winner {
      position: relative;
      .score {
        font-weight: bold;
      }
    }

    li.winner.final {
      .avatar {
        &::after {
          content: "👑";
          position: absolute;
          top: -20px;
          font-size: 20px;
        }
      }
    }
  }
}
